{% extends 'base.html' %}
{% block content %}

<main class="content">
    <div class="container p-0">
        <div class="row">
            {% for list in task_list %}
            <div class="col-12 col-lg-5 col-xl-4" style="margin:15px">
                <div class="card card-border-primary">
                    <div class="card-header">
                        <h3><ins>{{ list.name }}</ins></h3>
                        <br>
                        <div>
                            <ul>
                                {% for task in tasks_by_lists[list.id] %}
                                {% if task.status.name != 'DONE' %}
                                <div class="card card-border-primary">
                                    <li>
                                        
                                            <strong style="margin:5px">{{ task.title }}</strong>
                                            <ol>
                                                <p>Task Status:
                                                    <strong><mark>{{ task.status.name }}</mark></strong>
                                                </p>
                                                <p>Description:
                                                    {{ task.description }}
                                                </p>
                                                <p>Deadline:
                                                    {{ task.end_date.strftime('%Y-%m-%d') }}
                                                </p>
                                            </ol>
                                            <a href="delete_task?task_id={{task.id}}" ><button type="submit" class="btn btn-primary material-symbols-sharp" style="margin:5px" title="Delete task">Delete</button></a>
                                            <a href="edit_task?task_id={{task.id}}" ><button type="submit" class="btn btn-primary material-symbols-sharp" style="margin:5px" title="Edit task">Edit</button></a>
                                        
                                    </li>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-actions float-right">
                            <a href="create_task?list_id={{list.id}}" ><button type="submit" class="btn btn-primary material-symbols-sharp" title="Add task">Add_task</button></a>
                            <a href="delete_list?list_id={{list.id}}" ><button type="submit" class="btn btn-primary">Delete list</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div>
                <a  href="create_list"><button type="submit" class="btn btn-primary material-symbols-sharp" style="margin:15px" title="Add list">format_list_bulleted_add</button></a>
            </div>
        </div>
    </div>
</main>

<style type="text/css">
#list-name {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}


.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .025)
}

.card-border-primary {
    border-top: 4px solid #2979ff
}

.card-border-secondary {
    border-top: 4px solid #efefef
}

.card-border-success {
    border-top: 4px solid #00c853
}

.card-border-info {
    border-top: 4px solid #3d5afe
}

.card-border-warning {
    border-top: 4px solid #ff9100
}

.card-border-danger {
    border-top: 4px solid #ff1744
}

.card-border-light {
    border-top: 4px solid #f8f9fa
}

.card-border-dark {
    border-top: 4px solid #6c757d
}

.card-header {
    border-bottom-width: 1px
}

.card-actions a {
    color: #495057;
    text-decoration: none
}

.card-actions svg {
    width: 16px;
    height: 16px
}

.card-actions .dropdown {
    line-height: 1.4
}

.card-title {
    font-weight: 500;
    margin-top: .1rem
}

.card-subtitle {
    font-weight: 400
}

.card-table {
    margin-bottom: 0
}

.card-table tr td:first-child,
.card-table tr th:first-child {
    padding-left: 1.25rem
}

.card-table tr td:last-child,
.card-table tr th:last-child {
    padding-right: 1.25rem
}

.card-img-top {
    height: 100%
}
.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.025);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e5e9f2;
    border-radius: .2rem;
}

.card-header:first-child {
    border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
}

.card-header {
    border-bottom-width: 1px;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border-bottom: 1px solid #e5e9f2;
}
</style>

<script type="text/javascript">

</script>
{% endblock %}